$primary100: hsl(333, 96%, 70%);
$primary200: hsl(309, 77%, 40%);
$primary300: hsl(291, 83%, 37%);

$secondary100: hsl(276, 72%, 47%);
$secondary200: hsl(268, 88%, 36%);
$secondary300: hsl(263, 89%, 25%);

$background: hsl(300, 33%,4%);
$text: hsl(360, 100%, 100%);
$white: hsl(360, 100%, 100%);
