@use './media' as *;
@use './theme' as *;

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr 1fr;
    grid-template-areas: 
        "search search coins coins"
        "combined combined . ."
        "combined combined . .";
    grid-gap: 0.5rem;
    height: 400px;

    .charts-combined {
        // grid-area: 2 / 1 / 4 / 3;
        grid-area: combined;
        border: 2px solid $primary300;
    }

    .search {
        grid-area: search;
    }

    .selected-coins {
        grid-area: coins;
        border: 2px solid $primary300;
    }

    .item {
        border: 2px solid $primary300;
    }

    @include respond(tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }

    @include respond(mobile) {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}