@use './media' as *;
@use './theme' as *;

.charts-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto repeat(3, 180px);
    grid-template-areas: 
        "search search buttons"
        "combined combined ."
        "combined combined .";
    grid-gap: 0.5rem;

    & > div {
        transition: background-color 0.3s ease-in-out;
    }

    .charts-combined {
        // grid-area: 2 / 1 / 4 / 3;
        grid-area: combined;
        border: 2px solid $primary300;
    }

    .search {
        grid-area: search;
    }

    .item {
        border: 2px solid $primary300;
        position: relative;

        .icon {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0.5rem;
            cursor: pointer;
        }
    }

    @include respond(tablet) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto repeat(3, 150px);
        grid-template-areas: 
        "coins search search"
        ". combined combined"
        ". combined combined"
        ". . .";
    }

    @include respond(mobile) {
        display: flex;
        flex-direction: column;

        .item, .charts-combined {
            height: 180px;
        }

        .selected-coins {
            padding: 0.2rem;

            ul > li {
                height: 25px;
            }
        }
    }

    &.dark > div {
        background-color: rgba($background, 0.9);
    }
    
    &.light > div {
        background-color: rgba($white, 0.9);
    }
}

.selected-coins {
    grid-area: coins;
    border: 2px solid $primary300;

    ul {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        gap: 0.5rem;
    }
    li {
        cursor: pointer;
    }
}