@use 'theme' as *;
@use 'media' as *;

header {
    height: 64px;
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem 0.5rem 2rem;

    .logo-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;

        h2 {
            white-space: nowrap;
            margin-left: 1.5rem;
            @include respond(mobile) {
                display: none;
            }
        }
    }

    ul {
        display: flex;
        list-style: none;
        text-align: center;
        align-items: center;
    }

    li {
        padding: 0.2rem 1rem;
        a {
            text-decoration: none;
            color: $primary100;

            transition: all 0.2s;
            &:hover {
                color: $primary300;
            }
        }
    }

    img {
        width: 4rem;
        height: 4rem;
        padding: 0.5rem;
    }
}
