@use 'theme' as *;
@use 'media' as *;

.trending-wrapper {
    background-color: rgba($secondary300, 0.15);
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;

    padding: 0.5rem;

    @include respond(desktop) {
        flex-direction: row;
    }

    h2 {
        font-size: 2rem;
        padding: 0.1rem 1rem;
        margin: 0 1rem;
    }
}

.trending-carousel {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    border-radius: 0;
    gap: 0.5rem;
    padding: 0.1rem;
    overflow-x: auto;
    overflow-y: hidden;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    @include respond(tablet) {
        width: 100%;
    }

    @media (max-width: 465px) {
        justify-content: flex-start;
    }

    li {
        transition: all 0.2s;
        color: $primary100;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
            color: $primary200;
        }
    }
}

.trending-carousel::-webkit-scrollbar {
    display: none;
}
